In [39]:
import pandas as pd

In [61]:
df = pd.read_csv("kopis_data\\이더리움_202107_202108.csv", encoding='cp949')

In [53]:
df

               날짜        종가        오픈        고가        저가      거래량      변동
0   2021년 07월 01일  2,109.11  2,274.50  2,274.63  2,077.56    1.71M  -7.24%
1   2021년 07월 02일  2,154.78  2,108.58  2,158.70  2,019.75    1.39M   2.17%
2   2021년 07월 03일  2,224.70  2,154.53  2,236.97  2,115.80    1.28M   3.25%
3   2021년 07월 04일  2,323.22  2,224.70  2,386.20  2,222.95    1.39M   4.43%
4   2021년 07월 05일  2,196.16  2,322.60  2,322.60  2,163.09  822.95K  -5.47%
..            ...       ...       ...       ...       ...      ...     ...
57  2021년 08월 27일  3,273.58  3,093.78  3,279.93  3,063.37  839.54K   5.82%
58  2021년 08월 28일  3,243.90  3,273.78  3,284.58  3,212.24  466.21K  -0.91%
59  2021년 08월 29일  3,222.16  3,243.96  3,282.21  3,155.31  643.73K  -0.67%
60  2021년 08월 30일  3,225.67  3,222.43  3,345.72  3,145.53  966.58K   0.11%
61  2021년 08월 31일  3,430.74  3,228.23  3,467.42  3,191.34    1.52M   6.36%

[62 rows x 7 columns]

In [42]:
df['변동']

0     -7.24%
1      2.17%
2      3.25%
3      4.43%
4     -5.47%
       ...
57     5.82%
58    -0.91%
59    -0.67%
60     0.11%
61     6.36%
Name: 변동, Length: 62, dtype: object

In [60]:
df['거래량'] = df[df['거래량'].str.contains('K')]['거래량'].str.split("K").str[0].astype(float)*1000

In [67]:
df_K = df[df['거래량'].str.contains('K')]['거래량'].str.split("K").str[0].astype(float)*1000

In [68]:
df_M = df[df['거래량'].str.contains('M')]['거래량'].str.split("M").str[0].astype(float)*1000000

In [71]:
df = pd.concat([df_K,df_M], ignore_index=False)

In [72]:
df

4      822950.0
9      929320.0
10     724840.0
11     540100.0
12     717850.0
        ...
39    1440000.0
40    1120000.0
47    1060000.0
53    1090000.0
61    1520000.0
Name: 거래량, Length: 62, dtype: float64

In [56]:
df[df['거래량'].str.contains('K')].str.split("K")

AttributeError: 'DataFrame' object has no attribute 'str'

0      True
1      True
2      True
3      True
4     False
      ...
57    False
58    False
59    False
60    False
61     True
Name: 거래량, Length: 62, dtype: bool

In [46]:
df['변동'] = df['변동'].str.split("%").str[0]

In [47]:
df

               날짜        종가        오픈        고가        저가      거래량     변동
0   2021년 07월 01일  2,109.11  2,274.50  2,274.63  2,077.56    1.71M  -7.24
1   2021년 07월 02일  2,154.78  2,108.58  2,158.70  2,019.75    1.39M   2.17
2   2021년 07월 03일  2,224.70  2,154.53  2,236.97  2,115.80    1.28M   3.25
3   2021년 07월 04일  2,323.22  2,224.70  2,386.20  2,222.95    1.39M   4.43
4   2021년 07월 05일  2,196.16  2,322.60  2,322.60  2,163.09  822.95K  -5.47
..            ...       ...       ...       ...       ...      ...    ...
57  2021년 08월 27일  3,273.58  3,093.78  3,279.93  3,063.37  839.54K   5.82
58  2021년 08월 28일  3,243.90  3,273.78  3,284.58  3,212.24  466.21K  -0.91
59  2021년 08월 29일  3,222.16  3,243.96  3,282.21  3,155.31  643.73K  -0.67
60  2021년 08월 30일  3,225.67  3,222.43  3,345.72  3,145.53  966.58K   0.11
61  2021년 08월 31일  3,430.74  3,228.23  3,467.42  3,191.34    1.52M   6.36

[62 rows x 7 columns]

In [74]:
df.to_csv("ethereumVar202107_202108.csv")